<%= form_with(model: [:admin, article]) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">タイトル</label>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">URL(slug)</label>
    <div class="control">
      https://free-engineer.life/<%= form.text_field :slug, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">キーワード（カンマ区切り）</label>
    <div class="control">
      <%= form.text_field :keywords, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">ディスクリプション</label>
    <div class="control">
      <%= form.text_area :description, class: "textarea", rows: 3 %>
    </div>
  </div>

  <div class="field">
    <label class="label">本文</label>
    <div class="control">
      <%= form.text_area :body, class: "textarea", rows: 15 %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="label">公開</label>
      <%= form.check_box :published %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="label">アイキャッチ画像</label>
      <%= form.file_field :eye_catching_image %>
    </div>
  </div>

  <div class="field">
    <label class="label">カテゴリ</label>
    <ul>
    <%= form.collection_check_boxes :category_ids, categories, :id, :name, include_hidden: false do |b| %>
      <li>
        <%= b.check_box %><%= b.text %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="field">
    <div class="control">
     <%= form.submit "保存", class: "button is-primary" %>
    </div>
  </div>
<% end %>
