<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<%= link_to '記事作成', new_admin_article_path %>
<%= link_to 'メディア一覧', admin_media_path %>

<table>
  <thead>
    <tr>
      <th>アイキャッチ画像</th>
      <th>Title</th>
      <th>Slug</th>
      <th>Published</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <% if article.eye_catching_image.attached? %>
            <%= image_tag article.eye_catching_image.variant(:thumb) %>
          <% end %>
        </td>
        <td><%= link_to article.title, edit_admin_article_path(article) %></td>
        <td><%= article.slug %></td>
        <td><%= article.published %></td>
        <td><%= article.published_at %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to '削除', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '記事作成', new_admin_article_path %>
<%= link_to 'メディア一覧', admin_media_path %>
