<% articles.each do |article| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-128x128">
        <%= link_to article_path(article) do %>
          <% if article.eye_catching_image.attached? %>
            <%= image_tag article.eye_catching_image.variant(:thumb)  %>
          <% else %>
            <%= image_pack_tag 'icon01.png' %>
          <% end %>
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <% article.categories.each do |category| %>
          <%# カテゴリ記事一覧ページへのリンクにする %>
          <span class="tag is-rounded is-dark"><%= category.name %></span>
        <% end %>
        <h3 class="title my-2 is-5"><%= link_to article.title, article_path(article) %></h3>
        <div class="icon-text is-size-7">
          <span class="icon">
            <i class="fa-solid fa-arrows-rotate"></i>
          </span>
          <span><%= l(article.updated_at.to_date) %></span>
        </div>
        <p class="is-size-7">
          <%= article.description %>
        </p>
      </div>
    </div>
  </article>
<% end %>
