<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="columns">
      <div class="column is-7 is-offset-1">
        <main class="block mt-5 mx-4">
          <%= yield %>
        </main>
      </div>
      <div class="column is-3">
        <div class="mt-5">
        サイドバー
        </div>
      </div>
    </div>
  </body>
</html>
